.mod-table_other {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 15px
}

@media(max-width: 768px) {
  .mod-table_other {
    font-size: 14px;
    font-size: .875rem
  }
}

.mod-table_other .page_number .total {
  margin-right: 1em
}

.mod-table_other .notes_scroll {
  font-size: 14px;
  font-size: .875rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
  width: fit-content
}

@media(min-width: 846px) {
  .mod-table_other .notes_scroll {
    display: none
  }

  .mod-table_other .notes_scroll.allviwe {
    display: -webkit-flex;
    display: flex
  }
}

@media(max-width: 768px) {
  .mod-table_other .notes_scroll {
    font-size: 12px;
    font-size: .75rem
  }
}

.mod-table_other .notes_scroll:after {
  content: "";
  width: 8px;
  height: 10px;
  margin-left: 5px;
  background-image: url(../img/icon_triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

@media(max-width: 768px) {
  .mod-table_other .notes_scroll:after {
    height: 9px
  }
}

.mod-table_other .target {
  font-size: 14px;
  font-size: .875rem
}

.mod-table_other .target input {
  margin-left: 10px
}

.mod-table_other .time {
  font-size: 12px;
  font-size: .75rem;
  margin-left: auto
}

.mod-table_other.stocks-detail {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.mod-table01 {
  width: 100%
}

@media(max-width: 768px) {
  .mod-table01 {
    display: block
  }
}

@media(max-width: 768px) {
  .mod-table01 tbody {
    display: block
  }
}

.mod-table01 tbody tr {
  border-top: 1px solid #ddd
}

@media(max-width: 768px) {
  .mod-table01 tbody tr {
    display: block
  }
}

.mod-table01 tbody tr:last-child {
  border-bottom: 1px solid #ddd
}

.mod-table01 tbody tr th,
.mod-table01 tbody tr td {
  padding: 25px 0
}

@media(max-width: 768px) {

  .mod-table01 tbody tr th,
  .mod-table01 tbody tr td {
    display: block;
    width: 100% !important
  }
}

.mod-table01 tbody tr th {
  width: 266px;
  padding-right: 28px;
  vertical-align: top
}

@media(max-width: 768px) {
  .mod-table01 tbody tr th {
    padding-right: 0;
    padding: 20px 0 10px;
    margin-bottom: 5px
  }
}

.mod-table01 tbody tr th .wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.mod-table01 tbody tr th .wrap .btn-action {
  display: block
}

.mod-table01 tbody tr th .wrap .inner-table .heading {
  width: 100%;
  padding-right: 0
}

@media(max-width: 768px) {
  .mod-table01 tbody tr th .wrap .inner-table .heading~.heading {
    margin-top: 5px
  }
}

.mod-table01 tbody tr th.vat {
  vertical-align: top
}

.mod-table01 tbody tr td {
  width: calc(100% - 266px)
}

@media(max-width: 768px) {
  .mod-table01 tbody tr td {
    padding: 0 0 20px
  }
}

.mod-table01 tbody tr .inner-table {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

@media(max-width: 768px) {
  .mod-table01 tbody tr .inner-table {
    display: block;
    width: 100%;
    margin-top: 5px
  }
}

.mod-table01 tbody tr .inner-table .heading {
  width: 150px;
  padding-right: 28px;
  font-weight: bold
}

@media(max-width: 768px) {
  .mod-table01 tbody tr .inner-table .heading {
    width: 100%
  }
}

.mod-table01 tbody tr .inner-table .heading~.heading {
  margin-top: 15px
}

.mod-table01 tbody tr .inner-table .detail {
  width: calc(100% - 150px)
}

@media(max-width: 768px) {
  .mod-table01 tbody tr .inner-table .detail {
    width: 100%;
    margin-top: 5px
  }
}

.mod-table01 tbody tr .inner-table .detail .com-notes+* {
  margin-top: .5em
}

.mod-table01 tbody tr .inner-table .detail .com-notes:first-child {
  margin-top: 0
}

.mod-table01 tbody tr .inner-table .detail p:not([class]) {
  margin-bottom: .2em
}

.mod-table01 tbody tr .inner-table .detail~.detail {
  margin-top: 15px
}

@media(max-width: 768px) {
  .mod-table01 tbody tr .inner-table .detail~.detail {
    margin-top: 8px
  }
}

@media(max-width: 768px) {
  .mod-table01 tbody tr .inner-table .detail+.detail {
    margin-top: 15px
  }
}

.mod-table01 tbody tr .inner-table+.inner-table {
  border-top: 1px solid #ddd;
  margin-top: 25px;
  padding-top: 25px
}

.mod-table01+.com-title_table {
  margin-top: 50px
}

.mod-table02 {
  width: 100%;
  border: 0.5px solid rgb(65, 63, 63);
}

.mod-table02.fz13 th,
.mod-table02.fz13 td {
  font-size: 13px;
  font-size: .8125rem;
  text-align: center;
}

.mod-table02 th,
.mod-table02 td {
  border: 0.5px solid rgb(65, 63, 63);
  padding: 10px;
  font-size: 14px;
  font-size: .875rem;

}

@media(max-width: 768px) {

  .mod-table02 th,
  .mod-table02 td {
    padding: 8px
  }
}

.mod-table02 th:empty,
.mod-table02 td:empty {
  height: 34px
}

.mod-table02 th {
  background-color: #ffe5ea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.th-dark {
  background-color: rgb(195, 199, 200) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.th-danger {
  background-color: rgb(231, 21, 77);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.mod-table02 .u-w50 {
  min-width: 50px !important
}

.mod-table02 .u-w74 {
  width: 74px;
  min-width: 74px
}

.mod-table02 .u-w76 {
  width: 10.4109589041%;
  min-width: 76px !important
}

.mod-table02 .u-w78 {
  min-width: 78px !important
}

.mod-table02 .u-w80 {
  width: 80px;
  min-width: 80px !important
}

.mod-table02 .u-w83 {
  width: 83px;
  min-width: 83px !important
}

.mod-table02 .u-w98 {
  width: 98px;
  min-width: 98px !important
}

.mod-table02 .u-w90 {
  min-width: 90px !important
}

.mod-table02 .u-w97 {
  min-width: 97px !important
}

.mod-table02 .u-w100 {
  min-width: 100px !important
}

.mod-table02 .u-w113 {
  width: 113px;
  min-width: 113px
}

.mod-table02 .u-w120 {
  width: 16.4383561644%;
  min-width: 120px !important
}

.mod-table02 .u-w125 {
  width: 125px;
  min-width: 125px
}

.mod-table02 .u-w140 {
  min-width: 140px !important
}

.mod-table02 .u-w150 {
  width: 20.5479452055%
}

@media(max-width: 768px) {
  .mod-table02 .u-w150 {
    min-width: 150px !important
  }
}

.mod-table02 .u-w152 {
  width: 152px;
  min-width: 152px !important
}

.mod-table02 .u-w160 {
  width: 21.9178082192%
}

@media(max-width: 768px) {
  .mod-table02 .u-w160 {
    min-width: 160px !important
  }
}

.mod-table02 .u-w162 {
  min-width: 162px !important
}

.mod-table02 .u-w172 {
  width: 172px;
  min-width: 172px
}

.mod-table02 .u-w199 {
  width: 199px
}

.mod-table02 .u-w200 {
  width: 27.397260274%
}

@media(max-width: 768px) {
  .mod-table02 .u-w200 {
    min-width: 160px !important
  }
}

.mod-table02 .u-w202 {
  width: 202px;
  min-width: 202px
}

.mod-table02 .u-w210 {
  width: 210px;
  min-width: 210px
}

.mod-table02 .u-w215 {
  width: 215px;
  min-width: 215px
}

.mod-table02 .u-w250 {
  width: 250px;
  min-width: 250px
}

.mod-table02 .u-w335 {
  width: 45.8904109589%
}

@media(max-width: 768px) {
  .mod-table02 .u-w335 {
    min-width: 335px !important
  }
}

.mod-table02 .u-w466 {
  width: 63.8356164384%
}

@media(max-width: 768px) {
  .mod-table02 .u-w466 {
    min-width: 466px !important
  }
}

.mod-table02 .tac {
  text-align: center
}

.mod-table02 .tar {
  text-align: right
}

.mod-table02 .bgw {
  background-color: #fff !important
}

.mod-table02 .bdtn {
  border-top: none
}

.mod-table02 .bdbn {
  border-bottom: none
}

.mod-table02 .bdbr {
  border-right: none
}

.mod-table02 .pn {
  padding: 0 !important
}

.mod-table02 .num_price {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 5px
}

@media(max-width: 991px) {
  .mod-table02 .num_price {
    margin-left: 0;
    font-size: 20px;
    font-size: 1.25rem
  }
}

@media(max-width: 768px) {
  .mod-table02.u-col2 {
    display: block;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: none;
    border-right: none
  }

  .mod-table02.u-col2 tbody,
  .mod-table02.u-col2 tr,
  .mod-table02.u-col2 th,
  .mod-table02.u-col2 td {
    display: block;
    border: none
  }

  .mod-table02.u-col2 th,
  .mod-table02.u-col2 td {
    text-align: left;
    width: 100% !important;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd
  }
}

.mod-table02 .detail>td {
  background-color: #f6f6f6;
  padding: 20px
}

.mod-table02 .detail>td .mod-table_inner {
  margin-top: 10px
}

.mod-table02 .detail>td .mod-table_inner thead th {
  min-width: 173px;
  width: 173px;
  background-color: #f4eed3
}

.mod-table02 .detail>td .mod-table_inner tbody tr td {
  background-color: #fff
}

.mod-table02 .detail .table_inner {
  padding: 0
}

.mod-table02 .detail .table_inner table {
  width: 100%
}

.mod-table02 .detail .table_inner td {
  border: none
}

.mod-table02 .detail .table_inner tr+tr {
  border-top: 1px solid #ddd
}

.mod-table02 .detail .table_inner tr td+td {
  border-left: 1px solid #ddd
}

.mod-table02 .detail .table_inner .u-w98 {
  width: 97px;
  min-width: 97px !important
}

.mod-table02 .detail.close {
  display: none
}

.mod-table02+.mod-table02 {
  margin-top: 30px
}

.mod-table02.u-blue th {
  background-color: #eff4ff
}

div.mod-table02 {
  border-right: none;
  border-top: none;
  font-size: 14px;
  font-size: .875rem
}

div.mod-table02 .thead {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 35px
}

div.mod-table02 .thead>* {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffe5ea;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  min-width: 163px;
  padding: 10px
}

div.mod-table02 .thead .box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 83px;
  min-width: 83px;
  font-weight: bold
}

div.mod-table02 .thead .box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100px;
  min-width: 101px;
  font-weight: bold
}

div.mod-table02 .thead .box3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: bold
}

div.mod-table02 .thead .box4 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: bold
}

div.mod-table02 .tbody .item .total>*,
div.mod-table02 .tbody .item .detail .wrap>* {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  min-width: 163px;
  padding: 10px
}

div.mod-table02 .tbody .item .total .box1,
div.mod-table02 .tbody .item .detail .wrap .box1 {
  -webkit-justify-content: center;
  justify-content: center;
  width: 83px;
  min-width: 83px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2
}

div.mod-table02 .tbody .item .total .box2,
div.mod-table02 .tbody .item .detail .wrap .box2 {
  -webkit-justify-content: center;
  justify-content: center;
  width: 100px;
  min-width: 101px
}

div.mod-table02 .tbody .item .total {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 35px
}

div.mod-table02 .tbody .item .detail .wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 35px
}

div.mod-table02 .tbody .item .detail .wrap .box1 {
  border-top: none
}

div.mod-table02 .tbody .item .detail .wrap .box2,
div.mod-table02 .tbody .item .detail .wrap .box3,
div.mod-table02 .tbody .item .detail .wrap .box4,
div.mod-table02 .tbody .item .detail .wrap .box5,
div.mod-table02 .tbody .item .detail .wrap .box6,
div.mod-table02 .tbody .item .detail .wrap .box7 {
  background-color: #f6f6f6
}

.mod-table03 {
  font-size: 14px;
  font-size: .875rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%
}

.mod-table03 tbody tr th,
.mod-table03 tbody tr td {
  padding: 7px 0
}

.mod-table03 tbody tr:first-child th,
.mod-table03 tbody tr:first-child td {
  padding-top: 20px
}

.mod-table03 tbody tr:last-child th,
.mod-table03 tbody tr:last-child td {
  padding-bottom: 20px
}

.mod-table03 tbody tr th {
  width: 152px;
  padding-right: 10px
}

.mod-table03 tbody tr td {
  width: calc(100% - 152px)
}

.mod-table_dl {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd
}

.mod-table_dl dt {
  padding: 15px;
  background-color: #f6f6f6;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 14px;
  font-size: .875rem
}

.mod-table_dl dd {
  padding: 15px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd
}

.mod-table_dl dd .mod-radio {
  margin: 0
}

.mod-table04 {
  width: 100%;
  font-size: 14px;
  font-size: .875rem;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd
}

@media(max-width: 991px) {
  .mod-table04 {
    display: block;
    font-size: 12px;
    font-size: .75rem
  }
}

@media(max-width: 991px) {
  .mod-table04 tbody {
    display: block
  }
}

@media(max-width: 991px) {
  .mod-table04 tbody tr {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.mod-table04 tbody tr th {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 6px 10px
}

.mod-table04 tbody tr td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 29.8%;
  padding: 6px 10px
}

@media(max-width: 991px) {
  .mod-table04 tbody tr td {
    width: calc(100% - 105px)
  }
}

.mod-table04 .u-w202 {
  width: 202px;
  min-width: 202px
}

@media(max-width: 991px) {
  .mod-table04 .u-w202 {
    min-width: 105px;
    width: 105px
  }
}

.mod-table04 .tac {
  text-align: center
}

.mod-table04 .tar {
  text-align: right
}

.mod-table05 {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd
}

.mod-table05 thead th {
  background-color: #f4eed3;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px;
  font-weight: normal
}

.mod-table05 tbody tr td {
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px
}

.mod-table05 .tac {
  text-align: center
}

.mod-table05 .tar {
  text-align: right;
  padding-right: 20px
}

.mod-table05 .w55p {
  width: 55%
}

.mod-table05 .w45p {
  width: 45%
}

.mod-table05 .w75 {
  width: 75px;
  min-width: 75px
}

.mod-table05 .w94 {
  width: 94px;
  min-width: 94px
}

.mod-table05 .w182 {
  width: 182px;
  min-width: 182px
}

.mod-table05 .w200 {
  width: 200px;
  min-width: 200px
}

.mod-table05 .w323 {
  width: 323px;
  min-width: 323px
}

.mod-table_wrap {
  overflow: inherit
}

.mod-table_wrap+.mod-table_wrap {
  margin-top: 20px
}

.mod-table_wrap.sticky {
  height: 223px;
  border-top: 1px solid #ddd
}

.mod-table_wrap.sticky .mod-table05 {
  margin-top: 0;
  border-top: none
}

.mod-table_wrap.sticky .mod-table05 thead th {
  position: sticky;
  top: 0;
  left: 0
}

.hide-border-left {
  border-left: 1px solid #fff !important;
}