.mod-table02 {
  width: 100%;
  border: 0.5px solid rgb(65, 63, 63);
}

.mod-table02.fz13 th,
.mod-table02.fz13 td {
  font-size: 10px;
  text-align: center;
}

.mod-table02 th,
.mod-table02 td {
  border: 0.5px solid rgb(65, 63, 63);
  padding: 3px 5px;
  font-size: 10px;
  max-width: 300px;
}

.mod-table02 th:empty,
.mod-table02 td:empty {
  height: 34px
}

.mod-table02 th {
  background-color: #ffe5ea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.th-dark {
  background-color: rgb(195, 199, 200) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.th-danger {
  background-color: rgb(231, 21, 77);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.mod-table02 .tac {
  text-align: center
}

.mod-table02 .tar {
  text-align: right
}

.mod-table02 .bgw {
  background-color: #fff !important
}

.mod-table02+.mod-table02 {
  margin-top: 30px
}

.mod-table_wrap {
  overflow: inherit
}

.mod-table_wrap+.mod-table_wrap {
  margin-top: 20px
}

.hide-border-left {
  border-left: transparent 1px solid !important;
}

.hide-border-right {
  border-right: transparent 1px solid !important;
}

.hide-border-top {
  border-top: transparent 1px solid !important;
}

.hide-border-bottom {
  border-bottom: transparent 1px solid !important;
}

.table-border-wrap {
  border: 2px solid #000 !important;
}

.table-border-wrap02 {
  border: 2px solid rgb(142, 138, 138) !important;
}
